<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статистика по короновирусу</title>
</head>
<body>
    <p>hello</p>
    <form action="" method="post">
        <p>
            <label for="town">TownLabel</label>
            <select name = 'town' required>
                <option value = 'Москва'>Москва</option>
                <option value = 'Санкт-Петербург'>Санкт-Петербург</option>
            </select>
            <select name = 'option' required>
                <option value = 'Случаев заражения'>Статистика по количеству заражений в день</option>
                <option value = 'Умерло'>Статистика по количеству погибших в день</option>
                <option value = 'Выздоровело'>Статистика по количеству выздоровевших</option>
            </select>
        </p>
    	<p>
            <input type="submit">
         </p>
    </form>
</body>
